backports.shutil-get-terminal-size==1.0.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
dulwich==0.19.5
enum34==1.1.6
futures==3.2.0
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-bigquery==1.4.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
idna==2.7
ipython==5.8.0
ipython-genutils==0.2.0
numpy==1.14.5
pandas==0.23.3
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
Pygments==2.7.4
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rsa==3.4.2
scandir==1.8
schema==0.6.8
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
